<link rel="stylesheet" href="/style.css">
<h2>Transactions</h2>


<div class = "total-transactions">
<p>Total Transactions value: <%= "£#{@transactions_total}" %></p>
</div>

<a href='/transactions/new'>Add new transaction</a>


<table>
    <tr>
      <th>Value</th>
      <th>Spending tag</th>
      <th>"Merchant"</th>
      <th>"Time stamp"</th>
    </tr>
</table>
<!-- <div id="transaction-wrapper"> -->
  <% @transactions.each do |transaction| %>

  <!-- <div class="transaction"> -->
<table>


    <tr>
      <td>
        <h3 class="FirstColumn"><a href="transactions/<%= transaction.id %>"><%=
        transaction.value %></a></h3>
      </td>
      <td>
        <p>spending type: <%= transaction.spending_type.tag %></p>
      </td>
      <td>
        <p>merchant: <%= transaction.merchant.name %></p>
      </td>
      <td>
        <p><%= transaction.timestamp %></p>
      </td>
    </tr>
</table>

<!-- </div> -->


  <% end %>
<!-- </div> -->
