<h2>Edit Transaction</h2>

<form method="POST" action="/transactions/<%= @transaction.id %>">
  <!-- <div class="form-wrapper"> -->

    <div class="form-el">
      <label for="Value">Value:</label>
      <input type="text" name="value" id="value" value="<%= @transaction.value %>"/>
    </div>

    <div class="form-el">
      <label for="merchant_id">Merchant:</label>
      <select name="merchant_id" id="merchant_select" selected="<%= @transaction.merchant_id  %>">
        <% @merchants.each do |merchant| %>
          <% if merchant.id == @transaction.merchant_id %>
            <option value=<%= merchant.id %> selected><%= merchant.name %></option>
          <% else %>
            <option value=<%= merchant.id %>><%= merchant.name %></option>
          <% end %>
        <% end %>
      </select>

    </div>

    <div class="form-el">
      <label for="spending_type">Spending Type:</label>
      <select name="spending_type_id" id="spending_type_select" selected="<%= @transaction.spending_type_id  %>">
        <% @spending_types.each do |spending_type| %>
          <% if spending_type.id == @transaction.spending_type_id %>
            <option value=<%= spending_type.id %> selected><%= spending_type.tag %></option>
          <% else %>
            <option value=<%= spending_type.id %>><%= spending_type.tag %></option>
          <% end %>
        <% end %>
      </select>


    <div class="form-el">
      <input type="submit" value="Submit transaction"/>
    </div>

    </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
